* {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: sans-serif;
}


/*
===================
COMMON
===================
*/

.container {
    margin: 2rem auto;
    padding: 1.5rem;
    text-align: center;
}

.btn {
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fbd43b;
    color: #fff;
    font-weight: 700;
    border: 0;
    text-transform: uppercase;
    padding: .8rem;
}

.btn:disabled {
    background-color: #8f8f8f;
}

.btn:hover {
    transform: scale(1.1);
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #8f8f8f;
}


/*
===================
PAGE 1 / HOME.js
===================
*/


/*
CAROUSEL
*/

.owl-stage-outer {
    margin-bottom: 1.1rem !important;
}

.owl-carousel .owl-item img {
    width: 60% !important;
    margin: 1.1rem auto;
}

.owl-item h3 {
    margin: 1.1rem
}

.owl-item p {
    line-height: 1.5rem;
}

.owl-nav {
    display: none;
}


/*
BUTTON
*/

.btn-register {
    width: 85%;
}


/*
===================
PAGE 2 / REGISTER-PHONE.js
===================
*/

.step img {
    width: 40%;
    margin-bottom: 1.5rem;
}

.step h3 {
    line-height: 2rem;
    margin-bottom: 1.1rem;
}

.step p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.register form {
    text-align: center;
}

.register input,
.register button {
    display: block;
    margin: 0 auto;
}

.register #terms {
    font-size: .7rem;
}


/*
===================
PAGE 3 / CODE.js
===================
*/

#send-code input {
    background: url('../img/icons/lock.png') no-repeat scroll 4px 4px;
    padding-left: 30px;
    padding-bottom: 15px;
    background-size: contain;
    border: 0;
    border-bottom: 1px solid #8f8f8f;
    height: 2.3rem;
}